{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}회원가입{% endblock title %}


{% block content %}
   
<div class="container" style="background-color: yellow; display: flex; justify-content: center; align-items: center;">
  <div class="login_container">
      <div class="login_title" style="margin: 20px;">
          Change Password
      </div>
      <form method="POST" action="{% url 'accounts:change_password' %}" class="login_form">
          {% csrf_token %}

          <div class="login_input_container" style = 'margin-bottom: 20px;'>
              <div class="username_form_text">Origin Password</div>
              <div class="input_container">
                  <input class="login_input" name="origin_password" type="password">
              </div>

              <div class="password_form_text"> New Password</div>
              <div class="input_container">
                  <input class="login_input" name="password1" type="password">
              </div>
              <div class="confirm_password_form_text">Confirm Password</div>
              <div class="input_container">
                  <input class="login_input" name="password2" type="password">
              </div>
          </div>
          <input type="submit" class="login_btn" sytle="margin:100px;" value="Submit">
  </div>
  </form>
</div>

{% endblock content %}