{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}회원가입{% endblock title %}


{% block content %}
   
<div class="container d-flex flex-column justify-content-center align-items-center" style="margin-top:20px; margin-bottom:50px; width:40%;">

    <p>가입한 이메일 주소를 입력해 주세요</p>
    <div class="d-flex justify-content-center " style="width:60%;">
        <input type="text" style="width:800px;" class="form-control" name="email_adress" placeholder="" aria-label="" aria-describedby="basic-addon1">
        <div class="input-group-prepend">
            <button onclick ="SendEmail()" class="btn btn-outline-secondary" style="margin:1px;" type="button">Button</button>
        </div>
    </div>
    
    <div class="input-group-prepend" style="margin-top:10px; width:80%">
        <button  type="submit" class="btn btn-outline-secondary" style="margin:1px; width:100%" type="button">Button</button>
    </div>

  <script>
    function doAction() {
      <!-- let mail = $("input[name=email_adress]").val -->
      let mail ="....."
      alert(mail);
    }  
  </script>
</body>

</div>

<script>
   
</script>


{% endblock content %}