{% extends 'base.html' %}

{% load static %}

{% load bootstrap4 %}

{% block title %}{{user}}님 의 프로필 정보{% endblock title %}

{% block content %}

    <h1 style = 'margin-top: 150px;'>{{ User }} 프로필</h1>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center" style="margin:50px;">
            <div style="width:300; height:300px; padding:30px; margin:10px;">
                {% if User.profile_image  %}
                <div style="width: 200px; height:200px; overflow: hidden;" >
                    <img src="{{User.profile_image.url}}" class="card-img-top"  style="width:100%; height:100%; object-fit: cover;" alt="" >
                </div>
                {% else %}
                    <img src="https://dummyimage.com/200x200/000/fff" class="card-img-top" style="width:100%; height:100%;" alt="">
                {% endif %}
            </div>
    
            <div sytle="margin:0px;" style="width:300px;">
                <p> {{ User.last_name }}{{ User.first_name }} </p>
                <p> {{ User.email }} </p>
                {% if user == User %}
                    <a href="{% url 'accounts:edit_profile' %}">프로필 편집</a>
                {% endif %}
            </div> 
    
        </div>
    
    </div>
    


{% endblock content %}