{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}회원가입{% endblock title %}


{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center;">

    <section class="container d-flex flex-column justify-content-center align-items-center" >
        <h1>회원가입</h1>
        
        <form method="POST" action="{% url 'accounts:signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary col-12" value="제출" style="width: 300px;">
        </form>

    </section>
</div>
<script>
    function readURL(input) {
    alert(1);
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
        document.getElementById('display-image').src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    } else {
        document.getElementById('display-image').src = "";
    }
    }
</script>

{% endblock content %}