{% extends 'base.html' %}
{% block content %}
<div style="display: flex;">
    <div id="image_display" style="height: 250px; width: 1200px; margin:20px; overflow: auto;  white-space: nowrap;margin-left: auto; margin-right: auto;" >
        {% for i in images %}      
        <img src="{{ i.imgfile.url }}" alt="" style="height: 200px; margin: 5px">
        {% endfor %}
    </div>
    <button onclick="scrollLeft()" >◀</button>
</div>

<script>

function scrollLeft(){
    $('#image_display').scrollLeft(100);
}




</script>
{% endblock %}