<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ email }}</p>
    <form action="" method="post" class="form-example">
        <div class="form-example">
          <label for="code">Enter code: </label>
          <input type="text" name="code" id="code" required />
        </div>
        <div class="form-example">
          <input id="submit" value="Subscribe!" onclick="check_code()"/>
        </div>
      </form>

      <script>

        function check_code(){
            
            code = document.getElementById('code').value;


            if(code == {{ code }}  ){
                
                alert('ok');
                window.location.href="{% url 'apps:index' %}";
            }
            else{
                alert('not ok');
            }
                

        }
        

        $('#submit').click(check_code);


      </script>


</body>
</html>