{% extends 'base.html' %}
{% block content %}
  <div class="container" style="margin-left: 800px; margin-top: 100px;">
    <p>{{ code }}</p>
    <p>{{ email }}</p>
    <form action="" method="post" class="form-example">
      <div class="form-example">
        <label for="code">Enter code: </label>
        <input type="text" name="code" id="code" required />
      </div>
      <button type="button" class="btn btn-outline-primary" onclick="check_code()" >확인</button>
      
    </form>
  </div>

      <script>

        function check_code(){
            
            code = document.getElementById('code').value;


            if(code == {{ code }}  ){
                
                alert('ok');
                window.location.href="{% url 'photos:index' %}";
            }
            else{
                alert('not ok');
            }
                

        }
        

        $('#submit').click(check_code);


      </script>

{% endblock %}