
{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-left: 800px; margin-top: 100px;">
  <form action="" method="post" class="form-example" >
    <p>{{ email }}</p>
      <div class="form-example">
        <label for="email">Enter your email: </label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="form-example">
        <input class="btn btn-outline-primary" type="submit" value="Send Email " />
      </div>
    </form>
</div>

{% endblock %}