{% extends 'base.html' %}
{% block content %}
<h1>hello</h1>
<div class="border">

    <div class="inner">
        <div class="block" id="first-block" onclick="ChangeColor()"></div>
        <a href="{% url 'apps:lotto' %}"><div class="block"></div></a>
        <a href="{% url 'apps:practice' %}"><div class="block"></div></a>
    </div>
    <div class="inner">
        <div class="block" onclick="goto_url()"></div>
        <a href="{% url 'apps:email_authentication' %}"><div class="block"></div></a>
        <div class="block"></div>
    </div>

    <div class="inner">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block" style="background-color: aqua;"></div>
    </div>




</div>



{% endblock %}