{% extends 'base.html' %}
{% block content %}

<div class="border" style="margin-top: 100px;">
    <h1>로또 번호 생성기</h1>
    <div class="inner">

        <div id="lotto1" style="display:flex; justify-content: center; align-items: center; height: 100px; width: 100px; background-color: grey; margin: 10px; border-width: 1px; border-radius: 50%;">
            L
        </div>
        <div id="lotto2" style="display:flex; justify-content: center; align-items: center; height: 100px; width: 100px; background-color: grey; margin: 10px; border-width: 1px; border-radius: 50%;">
            o
        </div>
        <div id="lotto3" style="display:flex; justify-content: center; align-items: center; height: 100px; width: 100px; background-color:  grey; margin: 10px; border-width: 1px; border-radius: 50%;">
            T
        </div>
        <div id="lotto4" style="display:flex; justify-content: center; align-items: center; height: 100px; width: 100px; background-color: grey; margin: 10px; border-width: 1px; border-radius: 50%;">
            T
        </div>
        <div id="lotto5" style=" display:flex; justify-content: center; align-items: center; height: 100px; width: 100px; background-color: grey; margin: 10px; border-width: 1px; border-radius: 50%;">
            o
        </div>
        <div id="lotto6" style="display:flex; justify-content: center; align-items: center; height: 100px; width: 100px; background-color: grey; margin: 10px; border-width: 1px; border-radius: 50%;">
            !
        </div>
        <button class="btn btn-outline-primary" style="width: 80px; height: 80px; border-radius: 10px; margin-top: 20px;"  onclick="ChangeNumber()">
            생성
        </button>

    </div>
    
</div>



{% endblock %}