{% extends 'base.html' %}
{% block content %}

<h1>자바스크립트 연습</h1>

<div class="border" style="justify-content: center; align-items: center;">

    <button onclick = "calc()" > 나이 계산하기 </button>
    <div id="result" style = 'margin:10px;'></div>



    <img id="practice-image" src="https://dummyimage.com/400x400/000/fff" alt="">
    <button  onclick="practice_image()"style='width:200px; height:50; border-radius:5px; margin:10px;'>btn</button>
    <p id = "practice-ptag" >practice ptag </p>
    <button  onclick="practice_ptag()"style='width:200px; height:50; border-radius:5px; margin:10px;'>btn</button>
    <div id="practice-div" style="background-color: black; width:500px; height: 500px; border-radius: 25px; margin:10px;"></div>
    <button  onclick="practice_div()"style='width:200px; height:50; border-radius:5px; margin:10px;'>btn</button>
    <button id='button1' style="margin:50px;" >button1</button>
    <button id='button2' style="margin:50px;" >button2</button>    
</div>




<script>

    function calc(){

        let currentYear = 2024;

        let age = currentYear - prompt('출생년도 입력') + 1

        document.getElementById('result').innerHTML = "나이는 "+ age +'세'; 
    }


    const button1 = document.querySelector('#button1');
    const button2 = document.querySelector('#button2');
    //1번
    const print = () => {
    	alert('button1');
    }
	button1.addEventListener('click', print);

    button2.addEventListener('click', () => {
   	    alert('button2');
   });


    function practice_ptag(){

    image = document.getElementById('practice-ptag');

    image.innerText = "변경됨";


    }

    function practice_div(){

    image = document.getElementById('practice-div');

    if(image.style.backgroundColor == "black")
        image.style.backgroundColor = 'gray';
    else
        image.style.backgroundColor = 'black';

    }

    function practice_image(){

    image = document.getElementById('practice-image');

    if(image.src == "https://dummyimage.com/400x400/0f0/00f")
        image.src = "https://dummyimage.com/400x400/000/fff";
    else
        image.src = "https://dummyimage.com/400x400/0f0/00f";

    }
</script>


{% endblock %}