{% extends 'base.html' %}
{% block content %}
    <div class="container" style="margin-top: 100px; width: 800px;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <p style ='font-size: 30px;'>{{photo.title}}</p>
        </div>
        <hr>
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="{{photo.imgfile.url}}" alt="">
        </div>
        <hr>
        <div style="background-color: yellow; width: 700px; height: 300px; margin-left: 50px;">
            <p style>{{photo.content}}</p>
        </div>
        
    </div>
    
    <h4>댓글 목록</h4>

<!--read-->
    {% if comments %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
    {% endif %}
    <ul>
    {% for comment in comments %}
        <li>
        {{ comment.user }} - {{ comment.content }}
        <!--delete-->
        {% if user == comment.user %}
            <form action="{% url 'photos:comments_delete' photo.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
            </form>
        {% endif %}
        </li>
    {% empty %}
        <p>댓글이 없어요..</p>
    {% endfor %}
    </ul>

    <hr>

    <!--create-->
    {% if request.user.is_authenticated %}
    <form action="{% url 'photos:comments_create' photo.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit">
    </form>
    {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
    {% endif %}

    
{% endblock %}