{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="border">
    <div class="button-container" style="margin-top: 70px;">
        <button type="button" class="btn btn-outline-primary" style="cursor:pointer; margin-left: 1700px; width:80px; height:40px; " OnClick="location.href='/PhotoUpload'">업로드</button>   
    </div>



        <h1 style="margin-top:50px;">새로 업로드 된 사진</h1> 
        <div style="display: flex; width: 1600px; margin: 0 auto; margin-top: 20px;">   
            <button onclick="RightNew()" style="height: 50px; width: 50px; margin: 20px; margin-top: 120px;" >◀</button>
            <div id="new-image-display" style="height: 250px; width: 1500px; margin-top: 30px;  overflow: auto;  white-space: nowrap; margin-left: auto; margin-right: auto;" >
                {% for i in images %}      
                <a href="{% url 'photos:detail' i.id %}"><img src="{{ i.imgfile.url }}" alt="" style="height: 200px; margin: 5px"></a>
                {% endfor %}
            </div>
            <button onclick="LeftNew()" style="height: 50px; width: 50px; margin: 20px; margin-top: 120px;" >▶</button>
        </div>

        <h1 style="margin-top:100px;">인기 사진</h1>
        <div style="display: flex; width: 1600px; margin: 0 auto; margin-top: 20px;">   
            <button onclick="RightHot()" style="height: 50px; width: 50px; margin: 20px; margin-top: 120px;" >◀</button>
            <div id="hot-image-display" style="height: 250px; width: 1500px; margin-top: 30px;  overflow: auto;  white-space: nowrap; margin-left: auto; margin-right: auto;" >
                {% for i in ordered_images %}      
                <a href="{% url 'photos:detail' i.id %}"><img src="{{ i.imgfile.url }}" alt="" style="height: 200px; margin: 5px"></a>
                {% endfor %}
            </div>
            <button onclick="LeftHot()" style="height: 50px; width: 50px; margin: 20px; margin-top: 120px;" >▶</button>
        </div>

</div>

 

<style>
    #new-image-display{
        -ms-overflow-style: none;
    }
    #new-image-display::-webkit-scrollbar{
    display:none;
    }
    #hot-image-display{
        -ms-overflow-style: none;
    }
    #hot-image-display::-webkit-scrollbar{
    display:none;
    }
</style>
<script>

    let Newpos = 0;

    function LeftNew(){
        Newpos = Newpos+100;
        //alert(pos);
        $( '#new-image-display' ).scrollLeft( Newpos );
    }
    
    function RightNew(){
        Newpos = Newpos-100;
        if(Newpos<0)
        Newpos = 0;
        //alert(pos);
        $( '#new-image-display' ).scrollLeft( Newpos );
    }
    
    let Hotpos = 0;

    function LeftHot(){
        Hotpos = Hotpos+100;
        //alert(pos);
        $( '#hot-image-display' ).scrollLeft( Hotpos );
    }
    
    function RightHot(){
        Hotpos = Hotpos-100;
        if(Hotpos<0)
            Hotpos = 0;
        //alert(pos);
        $( '#hot-image-display' ).scrollLeft( Hotpos );
    }
    
 </script> 




{% endblock %}